.catcards{
    width: 252px;
    height: 344px;
    color: white;
    border-radius: 5px;
    cursor:pointer;
    position: relative;
  

    img{
        width: 75%;
        height: 60%;
        object-fit: contain;
    } 
    
    .desc{
        font-weight: 300;
        position: absolute;
        top:15px;
        left: 15px;
    }
    .title{
        font-weight: 500;
        font-size: 18.5px;
        position: absolute;
        left: 40px;
        top: 40px;
    }

}